header{
    display: flex;
    justify-content:flex-end;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 1px 0 2px;
}
header>div >a{
    color: black;
    justify-content: space-between;
    font-weight: bold;
    text-decoration: none;
    margin-right: 50px;
}
header >p{

    margin: 0px;
    justify-content: right;
    text-decoration: none;
}
